html
  head
    title= title
    style. 
          .id{
             pointer-events: none;
          }
          form{
            margin :20px auto;
            padding : 10px 20px;
            width : 300px;
            background-color : #D3D3D3;
            text-decoration : center 
          }
          input{
            margin-bottom : 10px;
            line-height : 20px;
            font-size: 15px;
            width : 100%;
          }
          h3{
            text-decoration : center
          }
          

  body
        form(id="updateCategory" action="/updateCategory" method="post")
            h3 Update Form
            input(class="id" type="text", name="id", value = updateId)
            br
            input(type="text", name="name", value="", placeholder="Ad" required)
            br
            input(type="text", name="unitPrice", value="", placeholder="UnitPrice girin")
            br
            input(class="btn" type="submit" value="Update")